.header {
    display: block;
    margin: auto;
    max-width: 25%; /* You can adjust this percentage */
    height: auto;
}

.header img {
    max-width: 100%;
    height: auto;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    font-size: 14px;
}

.chat-container {
    position: relative;
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
}

.chat-box {
    position: relative;
    background-color: #4e309694;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 20px;
    box-sizing: border-box;
    overflow-y: scroll;
    height: 500px;
    display: flex;
    flex-direction: column;
    background-image: url("emerald_beach_01.png");
    background-size: 50%;
    background-repeat: repeat;
    background-position: center;
    background-attachment: fixed;
    opacity: 0.9;
}

.chat-message {
    background-color: #fdda65;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
    width: 50%;
}

.chat-message p {
    margin: 0;
    padding: 0;
}

.chat-input {
    display: flex;
    align-items: center; /* aligns items vertically in this case */
    justify-content: space-between; /* space out the items equally */
}

.chat-input input {
    flex: 1;
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-right: 10px;
}

.chat-input button {
    background-color: #4CAF50;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.chat-input button:hover {
    background-color: #3e8e41;
}

.assistant {
    color: blue;
    background-color: #b2fab4;
    align-self: flex-end;
}

.user {
    color: black;
    background-color: #faff88;
    align-self: flex-start;
}

.notification {
    display: none;
    position: absolute;
    z-index: 1;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: auto;
    height: auto;
    background-color: rgba(0,0,0,0.4);
    padding: 20px;
    text-align: center;
    color: white;
    font-size: 20px;
    border-radius: 15px; /* optional: add rounded corners */
}


.notification p {
    background-color: #333;
    color: #fff;
    padding: 20px;
    margin: auto;
    width: 50%;
}

#spinner {
    display: none;  /* Hidden by default */
    font-size: 50px; /* Change as needed */
    color: #8f4444; /* Change as needed */
    position: absolute; /* Adjust as per your layout */
    top: 50%; /* Adjust as per your layout */
    left: 50%; /* Adjust as per your layout */
}
  
  @-webkit-keyframes sk-stretchdelay {
    0%, 40%, 100% { -webkit-transform: scaleY(0.4) }  
    20% { -webkit-transform: scaleY(1.0) }
  }
  
  @keyframes sk-stretchdelay {
    0%, 40%, 100% { 
      transform: scaleY(0.4);
      -webkit-transform: scaleY(0.4);
    }  20% { 
      transform: scaleY(1.0);
      -webkit-transform: scaleY(1.0);
    }
  }
 
